__pycache__/
.DS_Store
all.txt
mains.txt
.idea/
copy_all.py
copy_mains.py
node_modules/
data/postgres/
data/placeholder/store.sqlite3
data/prefect_db/
.env
data/
neo4j_db/
plugins/
import/
all.txt
mains.txt
gen_helm.py
init_machine.sh
init_ollama_gpu.sh
package-lock.json
package.json
skaffold.yaml
opol/textgrad
.env
backups/
credentials/
commands.txt
helm/values.yaml
z_dev_scripts
deployment/