<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Display</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/output.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


    <!-- Include Htmx library -->
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>

</head>
<body>
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-900">
        <div class="text-white text-xl mb-8" id="status">Click the button to start scraping</div>
        <div class="text-white mb-8" id="scraping-status" hx-get="/scraping_status" hx-trigger="every 5s" hx-swap="innerHTML">
          Ready to start scraping.
        </div>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mb-8" hx-post="/trigger_scraping_sequence" hx-target="#scraping-status" hx-swap="innerHTML">
          Trigger Scraping
        </button>
      
        <form class="w-full max-w-sm mb-8" hx-get="/" hx-target="#articles" hx-trigger="submit">
          <div class="flex items-center border-b border-blue-500 py-2">
            <input class="appearance-none bg-transparent border-none w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" name="search_query" placeholder="Search articles..." value="{{ search_query }}">
            <button class="flex-shrink-0 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" type="submit">
              Search
            </button>
          </div>
        </form>
        
        <div class="relative inline-block">
          <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" data-tooltip="Click to trigger scraping">
            Trigger Scraping
          </button>
          <div class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
            Click to trigger scraping
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div> 
        <div class="w-full max-w-3xl bg-white bg-opacity-10 rounded-lg shadow-lg p-6" id="articles">
          <!-- The articles will be loaded here -->
          {% include "partials/articles_list.html" %}
        </div>
      </div>
</body>
</html>
